#map {
    height: 60vh;
    width: 60vw;
    position: relative;
   
  }

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#header {
  font-size: 27px;
  
}

.navbar-brand {
  font-size: 25px;
 
}

.container {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  left: 70px;
  font-size: 18px;
  border: 3px solid rgb(164, 151, 82);
  height: 200px;
  width: 647px;
  font-size: 15px;
  margin-left: 150px;
  padding-top: 13px;
}


.roboto-mono-container {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  
}

#knightimg{
  height: 200px;
  width: 200px;
  position: absolute;
  top:80px;
  left: 20px;
  z-index: 1px;
 }


main {
  height: 100%;
  margin-top: 250px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-left: 65px;
}


footer {
  /* background-color: black; */
  height: 80px;
  color: black;
  width: 100%;
}

footer ul {
  display: flex;
  margin: 30px;
  font-size: 15px;
  list-style: none;
  margin-top: 50px;
}

footer ul li {
  margin: 15px;
}

footer ul li a {
  color: black;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-top: 2px;
  border: 2px solid black;
  margin-left: 75px;
} 

input[type=text], input[type=password] {
  width: 100%;
  font-size: 28px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

button {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(10, 119, 13);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}